.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, 0.2);
    /* напівпрозорий фон */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
    transition: background 0.3s ease, color 0.3s ease;
}

.nav {
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.title {
    /* font-family: Montserrat; */
    font-weight: 600;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 2px;
}

.scrolled {
    background: #ffffff;
    color: #000;
}

/* меню */
.ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.ul li a {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

.ul li a:hover {
    color: #00b0ff;
    text-decoration-color: #00b0ff;
    /* якщо хочеш підкреслення кольором */
}