.hero_section {
    background: #f9f9f9;
    padding: 20px;
    text-align: center;
}

.tel_blok {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.tel {
    font-size: 23px;
    color: #007bff;
    border-radius: 6px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.tel:hover {
    transform: scale(1.10);
    text-decoration: #218838;
    color: #218838;
}

.tel_title {
    font-size: 23px;
}