@import 'swiper/css';
@import 'swiper/css/effect-coverflow';
@import 'swiper/css/pagination';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: var(--font-montserrat), sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

a {
    color: inherit;
    text-decoration: none;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
}

ul,
ol {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* слайдер */
.swiper {
    max-width: 900px;
    padding: 50px 0;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.swiper-button-next,
.swiper-button-prev {
    color: #221db8;
    font-weight: bold;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: #ffcc00;
}