/* globals.css */

/* Скидання базових стилів */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html та body займають всю висоту */
html,
body {
    height: 100%;
    font-family: var(--font-montserrat), sans-serif;
    background-color: #f5f5f5;
    /* базовий фон */
    color: #333;
    /* базовий колір тексту */
}

/* Посилання */
a {
    color: inherit;
    text-decoration: none;
}

/* Зображення */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Списки */
ul,
ol {
    list-style: none;
}

/* Кнопки */
button {
    cursor: pointer;
    border: none;
    background: none;
}

/* Контейнер для вирівнювання */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}