.rent_block {
    display: flex;
    gap: 20px;
    /* відстань між блоками */
    justify-content: center;
    /* вирівнювання по центру */
    align-items: flex-start;
    /* вирівнювання по верхньому краю */
    margin: 40px auto;
    max-width: 1200px;
    padding: 20px;

    scroll-margin-top: 90px;
}

/* Застава */
.deposit_label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #222;
}

.deposit_option {
    margin-left: 15px;
    color: #555;
}

.address {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
}

@media (max-width: 768px) {
    .address {
        flex-direction: column;
        align-items: center;
    }
}


.hero_section {
    background: #f9f9f9;
    padding: 20px;
    text-align: center;
}

.hero_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.hero_button {
    display: inline-block;
    background-color: #007bff;
    /* синій акцент */
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 6px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.hero_button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.hero_text {
    font-size: 1rem;
    color: #444;
}