.article {
    padding: 0 200px;
}

.article_name {
    padding: 30px 0;
}

.article_name2 {
    padding-bottom: 30px;
}

.article_title {
    margin: 0 auto;
}

.article_blok {
    display: flex;
    flex-direction: column;
    gap: 10;
    margin-bottom: 30px;
}

.article_list {
    display: grid;
    padding-left: 50px;
    gap: 8px;
}

.article_list li {
    color: black;
}

.article_blok_button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.article_button {
    display: inline-block;
    padding: 12px 24px;
    background-image: url(/fonCosmos.webp);
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.article_button button {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

.article_button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}