.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 40px;
    padding: 25px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;

    margin-top: 30px;

    font-weight: 700;
    font-size: 42px;

    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;
}

.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 24px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.card Img {
    max-width: 100%;
}

.card h3 {
    margin-bottom: 8px;
    font-size: 19px;
    color: #333;
}

.card p {
    margin: 4px 0;
    color: #555;
}

.card ul {
    margin: 0.5rem 0;
    padding-left: 1.2rem;
    color: #444;
}

.card span {
    display: block;
    margin-top: 0.25rem;
    font-size: 0.9rem;
    color: #75787b;
}

/* планшети */
@media (max-width: 990px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(318px, 1fr));
        gap: 24px;
        padding: 20px;
    }

    .title {
        font-size: 32px;
        margin-top: 80px;
    }
}

/* мобільні */
@media (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr;
        /* одна колонка */
        gap: 20px;
        padding: 15px;
    }

    .title {
        font-size: 26px;
        margin-top: 60px;
    }

    .card {
        padding: 16px;
    }

    .card h3 {
        font-size: 17px;
    }

    .card p,
    .card ul,
    .card span {
        font-size: 0.85rem;
    }
}